# .gitignore for Python project

venv/
*.pyc
*.pyo
*.pyd
__pycache__
*.so
*.dylib
*.egg-info
*.egg
dist
docs/_build
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.sublime-workspace
*.sublime-project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.csproj
*.user
*.sdf
*.opensdf
.idea

.env
src/sandbox.py

# Ignore pycache
__pycache__/
.pytest_cache/
.pytest_cache
